site_name: 酷寶（竹科犬犬）

extra_css:
  - stylesheets/extra.css

repo_name: 酷寶（竹科犬犬）
repo_url: https://coolbao626.github.io/
edit_uri: https://coolbao626.github.io/

extra:
  social:
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/coolbabyorkshire/
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/profile.php?id=61561337532765

theme:
  name: material
  logo: assets/icon.jpg
  favicon: assets/icon.png
  palette:
    - scheme: default
      primary: white
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      primary: blue grey
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  locale: en
    # analytics: {gtag: ''}
  highlightjs: true
  hljs_languages:
      - yaml
      - django

nav:
    - Home: index.md
    # - User Guide: guide/
    - Blogs: blogs/
    # - Supports: support/
    # - Sponsorship: membership/
    - Daddy & Mommy: 
      - Intro: https://en67.space/
    # - More:
    #   - Relavent Publications: publication.md
    #   - Other Videos: videos.md

markdown_extensions:
  - nl2br
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - tables
  - mdx_math:
        enable_dollar_delimiter: True
  - fenced_code

extra_javascript: 
    - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML

plugins:
  - search
  - callouts
